root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

[{*.go,Makefile,.gitmodules,go.mod,go.sum}]
indent_style = space

[*.md]
indent_style = space
trim_trailing_whitespace = true

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2