{{ define "int_parser" }}
    {{- $varIdent := index . "var" -}}
    {{- $info := index . "info" }}

    val, err := strconv.ParseInt({{$varIdent}}, 10, {{ BitSize $info.Kind }})
    if err != nil {
        return err
    }
{{ end }}
