{{ define "int_parser" }}
    {{- $info := index . "info" -}}
    {{- $param := index . "param" -}}
    {{- $pkg := index . "pkg" -}}

    {{- $var := index . "var" -}}
    {{- $assignTo := index . "assignTo" }}

    val, err := strconv.ParseInt({{$var}}, 10, {{ BitSize $info.Kind }})
    if err != nil {
        return err
    }
    {{ $assignTo }} = {{ template "rhs" (Dict "info" $param.TypeInfo "pkg" $pkg "var" "val") -}}
{{ end }}
